/* Règles générales */
html, body {
    background-color: #EEEEEE;
    height: 100%;
    width: 100%;
}

.center {
    text-align:center;
}

.left {
    text-align: left;
}

.right {
    text-align:right;
}

.inline {
    display: inline-block!important;
}

.jumbotron {
    padding: 0;
    margin: 0;
}

.row {
    padding: 0;
    margin: 0;
}

.enk-button {
    border-radius: 0;
    background-color: #A9B5CB;
}

/* Menu latéral */
#left-menu {
    position: absolute;
    color: #f5f5f5;
    text-align: center; 
    background-color: #1f2223;
    border-right: 1px solid #323738; 
    width: 15%;
    height: 100%;
    overflow: auto;
}

#left-menu hr {
    padding: 0;
    margin: 0;
    border: none;
    border-bottom: 2px solid #323738;
}

#left-menu #btn-menu {
    font-size: 1.2em;
    text-align: left;
    margin: 10px;
}

#left-menu #btn-menu ul {
    color: #111;
}

#left-menu #btn-menu a {
    color: #f5f5f5;
    text-decoration: none;
}

#left-menu #btn-menu a:hover {
    color: #f5f5f5;
    text-decoration: none;
}

#left-menu #btn-menu a:focus {
    color: #f5f5f5;
    text-decoration: none;
}

#left-menu #tabs {
    margin-top: 10px;
}

#left-menu #tabs .tab {
    background-color: #2b2f30;
    height: 75px;
    cursor: pointer;
    border-bottom: 3px solid #131515;
}

#left-menu #tabs .tab:hover,
#left-menu #tabs .tab.selected {
    background-color: #373c3e;
}

#left-menu #tabs .tab:first-child,
#left-menu #tabs .tab:nth-child(2) {
    border-right: 1px solid #1A1D1E;
}

#left-menu #tabs .tab-content {
    margin: 10px;
}

#left-menu #tabs .tab-content .tab-icon {
    font-size: 1.8em;
}

#left-menu #content-container {
    margin-top: 15px;
}

#left-menu #content-container .item {
    margin: 0;
    padding: 15px;
    height: 75px;

    cursor: pointer;
}

#left-menu #content-container .item.selected {
    background-color: #373c3e;
    border: 1px solid #222;
    /*border-radius: 50%;*/
}

/* Zone de rendu */
#right-panel {
    position: absolute;
    left: 15%;
    width: 85%;
    max-width: 85%;
    height: 100%;
    max-height: 100%;
}

#render-panel {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    overflow: auto;
}

/* CSS3 Responsivity */

/* Tablettes */
@media only screen and (min-width: 768px) and (max-width: 1280px) {
    #left-menu #tabs .tab-content {
        margin: 20px;
        margin-left: 10%;
    }
}

/* Mobile */
@media only screen and (max-width: 767px) {
}

.show-on-phones {
    display: none!important;
}
.show-on-tablets {
    display: none!important;
}
.show-on-desktops {
    display: block;
}
.hide-on-phones {
    display: block!important;
}
.hide-on-tablets {
    display: block!important;
}
.hide-on-desktops {
    display: none;
}

/*@media only screen and (device-width: 768px), only screen and (device-width: 1280px), only screen and (device-width: 800px) {*/
@media only screen and (min-width: 768px) and (max-width: 1280px) {
    .hide-on-phones {
        display: block!important;
    }
    .hide-on-tablets {
        display: none!important;
    }
    .hide-on-desktops {
        display: block!important;
    }
    .show-on-phones {
        display: none!important;
    }
    .show-on-tablets {
        display: block!important;
    }
    .show-on-desktops {
        display: none!important;
    }
}

@media only screen and (max-width: 767px) {
    .hide-on-phones {
        display: none!important;
    }
    .hide-on-tablets {
        display: block!important;
    }
    .hide-on-desktops {
        display: block!important;
    }
    .show-on-phones {
        display: block!important;
    }
    .show-on-tablets {
        display: none!important;
    }
    .show-on-desktops {
        display: none!important;
    }
}